<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceNFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ConectaWebServiceNFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceNFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ConectaWebServiceNFe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <ServiceNFe.Properties.Settings>
            <setting name="Certificado" serializeAs="String">
                <value />
            </setting>
        </ServiceNFe.Properties.Settings>
        <ConectaWebServiceNFe.Properties.Settings>
            <setting name="Certificado" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumeroLoteNFe" serializeAs="String">
                <value>0</value>
            </setting>
        </ConectaWebServiceNFe.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ServiceNFe.Properties.Settings>
            <setting name="ServiceNFe_Homologacao_ConsultaCadastroContribuinte4_CadConsultaCadastro4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
            </setting>
            <setting name="ServiceNFe_ConsultaCadastroContribuinte4_CadConsultaCadastro4"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Inutilizacao4_NFeInutilizacao4" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_Inutilizacao4_NFeInutilizacao4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_NFeStatusServico4_NFeStatusServico4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx</value>
            </setting>
            <setting name="ServiceNFe_NFeStatusServico4_NFeStatusServico4"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx</value>
            </setting>
            <setting name="ServiceNFe_NFeConsultaProtocolo4_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_NFeConsultaProtocolo4_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_RecepcaoEvento4_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx</value>
            </setting>
            <setting name="ServiceNFe_RecepcaoEvento4_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_NFeAutorizacao4_NFeAutorizacao4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx</value>
            </setting>
            <setting name="ServiceNFe_NFeAutorizacao4_NFeAutorizacao4" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx</value>
            </setting>
            <setting name="ServiceNFe_NFeRetAutorizacao4_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx</value>
            </setting>
            <setting name="ServiceNFe_Homologacao_NFeRetAutorizacao4_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx</value>
            </setting>
        </ServiceNFe.Properties.Settings>
        <ConectaWebServiceNFe.Properties.Settings>
            <setting name="ConectaWebServiceNFe_Hom_ConsultaCadastroContribuinte4_CadConsultaCadastro4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
            </setting>
        </ConectaWebServiceNFe.Properties.Settings>
    </applicationSettings>
</configuration>
